* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

body > #content {
    flex: 1;
}

button, input {
    background-color: inherit;
    border: none;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
}

button:active, input:active {
    cursor: default;
}

/* Preliminaries above and other stuff below */

img.logo {
    display: block;
    height: 100%;
}

header {
    width: 100%;
    letter-spacing: 3px;
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    gap: 4em;
    box-shadow: 0 0 2px 2px gainsboro;
    height: 80px;
}

header > .fake-link {
    padding: 30px 0;
    height: 100%;
}

button#order {
    background-color: blue;
    color: azure;
    width: 130px;
    padding: 12px 16px;
    border-radius: 6px;
}

.fake-link.selected {
    border-bottom: 4px gold solid;
    padding-bottom: 26px;
    font-weight: 700;
}

#content {
    width: 100%;
    min-height: 900px;
    box-sizing: border-box;
    padding: 80px 25%;
    display: flex;
    flex-direction: column;

    font-size: 18px;
    gap: 20px;
}

#content h1 {
    font-size: 2.5em;
}

#content.about img {
    display: block;
    height: 450px;
    object-fit:cover;
    margin-bottom: 20px;
}

#content h1{
    text-align: center;
}

#content.menu {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 80px 1fr;
}

#content.menu .sidebar {
    display: flex;
    flex-direction: column;

    grid-row-start: 2;

    border: gainsboro 2px solid;
    border-radius: 10px;
    height: fit-content;
}

#content.menu .sidebar.featured {
    grid-row-start: 1;
}

.sidebar .sidetab {
    display: flex;
    height: 80px;
    align-items: center;
    gap: 15px;
    padding-left: 15px;

    cursor: pointer;
}

.sidebar .sidetab.selected {
    font-weight: bold;
    border-left: blue 4px solid;
}

.sidetab img {
    display: block;
    width: 30%;
    object-fit: contain;
}

.menu-holder {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-auto-rows: 200px;

    grid-column-start: 2;
    grid-row: 1 / -1;
    gap: 60px;
}

.menu-holder article {

    display: flex;
    flex-direction: column;
    text-align: center;

    cursor: pointer;

    justify-content: space-between;
}


.menu-holder article img {
    width: 100%;
    height: 70%;
    margin-bottom: 0px;    
    object-fit: contain;

}
.menu-holder article p:not(.limited)::after {
    content: ' ®';
}

.menu-holder article p.limited {
    color: rgb(173, 121, 24);
    font-size: 0.8em;
    font-weight: bold;
}

.menu-holder h1 {
    text-align: center;
    grid-column: 1 / -1;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 90px;
    padding: 0 25%;
    padding-bottom: 60px;
}

footer .row:first-child {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
    margin-bottom: 60px;
    border-bottom: 2px gainsboro solid;
    width: 100%;
}

footer .row:nth-child(2) {
    width: 100%;
    justify-content: left;
    display: flex;
    gap: 40px;
}

footer .row li {
    list-style: none;
    margin-bottom: 10px;
}



footer .row li:first-of-type {
    font-weight: bold;
}

footer a {
    text-decoration: none;
    color: inherit;
}